<div class="container-fluid" id="container-fluid">
  <footer id="footer">
    <div id="horizontal-line"></div>
    <div id="footer-links" class="row">
      <div class="vertical-line"></div>
      <a routerLink="/contact-us" routerLinkActive="active" class="footer-text-links">
        <p>Contact us</p>
      </a>
      <div class="vertical-line"></div>
      <a routerLink="/privacy-policy" routerLinkActive="active" class="footer-text-links">
        <p>Privacy policy</p>
      </a>
      <div class="vertical-line"></div>
      <a routerLink="/terms-of-use" routerLinkActive="active" class="footer-text-links">
        <p>Terms of use</p>
      </a>
      <div class="vertical-line"></div>
      <a routerLink="/about" routerLinkActive="active" class="footer-text-links">
        <p>About</p>
      </a>
    </div>
    <div id="copyright-row">
      <p id="copyright">Talent!&copy; 2018
    </div>
  </footer>
</div>
