<footer class="container-fluid" [class.loggedIn]="loggedIn">

  <div class="horizontal-line"></div>

  <div class="row footer-links">
    <div class="center">
      <div class="footer-link-separator"></div>
      <div class="footer-link"><a routerLink="/contact-us" routerLinkActive="active">Contact us</a></div>
      <div class="footer-link-separator"></div>
      <div class="footer-link"><a routerLink="/privacy-policy" routerLinkActive="active">Privacy policy</a></div>
      <div class="footer-link-separator"></div>
      <div class="footer-link"><a routerLink="/terms-of-use" routerLinkActive="active">Terms of use</a></div>
      <div class="footer-link-separator"></div>
      <div class="footer-link"><a routerLink="/about" routerLinkActive="active">About</a></div>
      <div class="footer-link-separator"></div>
    </div>
  </div>

  <div class="row footer-copyright">
    <div class="center">Talent! &copy; 2018</div>
  </div>

</footer>
