footer.container-fluid {
  min-height: 8.4vh;
  min-width: 310px;
  width: 100%;
  padding: 0px;
  font-size: 14px;
  font-family: "Source Sans Pro", serif;
}

.container-fluid .row {
  margin-right: 0px;
  margin-left: 0px;
}

.horizontal-line {
  height: 0.19vh;
  width: 100%;
  border: 1px solid #294261;
}

.footer-links {
  padding: 1vh 0vh 1vh 0vh;
}

.footer-link-separator {
  height: 22.68px;
  width: 1px;
  border: 1px solid #979797;
}

.center {
  margin: auto;
  display: inline-block;
}

.center>div {
  display: inline-block;
}

.footer-link {
  margin: 0 2vw 5px 2vw;
  vertical-align: top;
}

.footer-link>a {
  color: #294261;
}

@media only screen and (max-width: 450px) {
  .footer-link {
    margin: 0 1vw 5px 1vw;
  }
}

@media only screen and (max-width: 365px) {
  .footer-link {
    margin: 0 0.5vw 5px 0.5vw;
  }
}
