<div class="container-fluid page-div" id="container-fluid">
    <div class="row" id="general-row">
        <div class="d-xs-block d-sm-block d-md-block col-lg-5" id="handshake">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="container-row2">
            <a routerLink="/landing-page"> <img src="/assets/images/talent-logo.png" id="talent-logo" > </a>
            <div id="sign-up-row">
                <span id="sign-up-suggestion">Don't have an account?</span>
                <a routerLink="/sign-up/step-one" routerLinkActive="active" id="signin-link">
                    <button type="button" class="btn btn-primary" id="sign-up-button">
                        Sign up
                    </button>
                </a>
            </div>

            <div id=form-content>

                <div class="organization-logo-div">
                    <img *ngIf="organization != null" id="organization-logo" [src]="organization.logo" />
                </div>

                <div class="sign-in-error" [hidden]="!invalidCredentials">Wrong email or password.</div>

                <form>
                    <p class="input-label">Email</p>
                    <input email type="email" [ngClass]="(emailIsValid)?'input':'input input-error'" #emailInput placeholder="Email" (blur)="validateEmail(emailInput.value, $event)" (keyup)="validateEmail(emailInput.value, $event); clearSignInError()"
                    />
                    <div class="email-error" [hidden]="emailIsValid">Invalid email.</div>

                    <p class="input-label password-label">Password</p>
                    <input class="input" #passwordInput placeholder="Password" type="password" (keyup)="clearSignInError()"/>

                    <p><a id="forgot-password-link" (click)="redirectToForgotPassword()">Forgot your password?</a></p>

                    <button id="enter-button" (click)="login(emailInput.value, passwordInput.value)">Enter</button>
                </form>

            </div>

        </div>

    </div>
</div>
