<div class="container p-0 margin-top mb-5">


  <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" class="row" id="search-bar-wrapper">
      <div id="search-icon" class="d-inline-block h-100"><i class="fas fa-search"></i></div>
      <input id="search-bar" type="text" class="form-control w-75 d-inline-block" name="searchBar"
              title="search resources" placeholder="Search" ngModel/>
      <!--[ngbTypeahead]="search"-->
  </form>

  <div class="row margin-top" id="results-for-lbl">
    Results for "{{searchedWord}}"
  </div>

  <div class="row margin-top">

    <div class="search-result col-12 p-0">
      <div class="row p-4 m-0">

        <div class="search-img d-inline-block col-12 col-md-auto h-100">
          <img src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"
               alt="Search Result Image">
        </div>

        <div class="search-info d-inline-block col-12 col-md-auto">
          <div class="resource-name">Josue Cubero</div>
          <div class="job-position mb-4">Junior Software Developer</div>
          <div class="skills mb-2">Skills: Teamwork, Leadership, Java, C++, Javascript, Typescript, Angular, Spring, CSS
          </div>
          <div class="projects">Projects: Petbook, Papers</div>

        </div>

      </div>
    </div>

    <div class="search-result col-12 p-0">
      <div class="row p-4 m-0">

        <div class="search-img d-inline-block col-12 col-md-auto h-100">
          <img src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"
               alt="Search Result Image">
        </div>

        <div class="search-info d-inline-block col-12 col-md-auto">
          <div class="resource-name">Josué León Sarkis</div>
          <div class="job-position mb-4">Junior Software Developer</div>
          <div class="skills mb-2">Skills: Teamwork, Leadership, Java, C++, Javascript, Typescript, Angular, Spring, CSS
          </div>
          <div class="projects">Projects: Futmob, Papers</div>

        </div>

      </div>
    </div>

  </div>

</div>
