<div>
    <h2>Log in</h2>
	<p>{{loginMessage}}</p>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="loginUsername.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group">
            <button class="btn">Log in</button>
        </div>
    </form>
	
	<!-- Display user info if logged in
	<div [hidden]='!loggedIn>
		<p>User info:</p> 
		<p>Name: {{}} <p>
	</div> -->
	
</div>