.page-title {
  padding-top: 3.125vh;
  color: #47525E;
  font-size: 29px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  margin-bottom: 0;
}

.content {
  margin-left: 5.069%;
  margin-right: auto;
}

label {
  color: #47525E;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.name-label {
  margin-top: 2.92vh;
}

input, textarea, select, option {
  height: 58px;
  width: 40.48vw;
  border: 1px solid #BECAD6;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding-left: 1.94%;
  font-size: 20px;
  display: block;
  margin-bottom: 4.24vh;
}

textarea {
  width: 80.83vw;
  height: 143px;
  padding-left: 0px;
}

.select:after {
  display: none;
}

.submit-button {
  min-height: 39px;
  width: 140px;
  border-radius: 8px;
  background-color: #EFA42F;
  border-style: none;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 20px;
  display: block;
  float: right;
}

.cancel-button {
  min-height: 39px;
  color: #979595;
  letter-spacing: -0.4px;
  display: block;
  float: left;
  background-color: #FFFFFF;
  border: 1px solid #979595;
  border-radius: 8px;
  width: 424px;
  height: 77px;
  font-family: "Lato";
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
}

.submit-button {
  min-height: 39px;
  color: white;
  letter-spacing: -0.4px;
  display: block;
  float: left;
  background-color: #EFA42F;
  border: 0px;
  border-radius: 8px;
  width: 424px;
  height: 77px;
  font-family: "Lato";
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
}

button.btn[disabled] {
  cursor: not-allowed;
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  width: 80.83vw;
  padding-bottom: 5.76vh;
}

select::after {
  display: none;
}

.error-div {
  color: #C4183C;
  margin-top: 2%;
  margin-bottom: 2%;
}
