<!DOCTYPE html>
<html>
<head>
  <title>Talent! Invalid token</title>
</head>
<body>
<div class="container-fluid" id="container-fluid">
  <div class="row" id="general-row">
    <div class="d-xs-block d-sm-block d-md-block col-lg-5" id="container-row1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="container-row2">
      <div class="row" id="nav-bar">
        <a routerLink="/landing-page" routerLinkActive="active">
          <img src="/assets/images/talent-logo.png" class="img-fluid" id="talent-logo" alt="Responsive image">
        </a>
      </div>
      <p id="forgot-password-h">Invalid token</p>
      <div id="confirmation-message">
        The entered token is invalid, please use the latest token sent to your email.
      </div>
    </div>
  </div>
</div>
</body>
</html>
