<!DOCTYPE html>
<html>
<head>
  <title>Talent! Invalid token</title>
</head>
<body>
<div class="container-fluid" id="container-fluid">
  <div class="row" id="general-row">
    <div class="d-xs-block d-sm-block d-md-block col-lg-5" id="container-row1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="container-row2">
      <div class="row" id="nav-bar">
        <a routerLink="/landing-page" routerLinkActive="active">
          <img src="/assets/images/talent-logo.png" class="img-fluid" id="talent-logo" alt="Responsive image">
        </a>
      </div>
      <p id="forgot-password-h">Invalid token</p>
      <div id="confirmation-message">
        The entered token is invalid, please use the latest token sent to your email.
      </div>
    </div>
  </div>
  <footer id="footer">
    <div id="horizontal-line"></div>
    <div id="footer-links" class="row">
      <div class="vertical-line"></div>
      <a routerLink="/contact-us" routerLinkActive="active" class="footer-text-links">
        <p>Contact us</p>
      </a>
      <div class="vertical-line"></div>
      <a routerLink="/privacy-policy" routerLinkActive="active" class="footer-text-links">
        <p>Privacy policy</p>
      </a>
      <div class="vertical-line"></div>
      <a routerLink="/terms-of-use" routerLinkActive="active" class="footer-text-links">
        <p>Terms of use</p>
      </a>
      <div class="vertical-line"></div>
      <a routerLink="/about" routerLinkActive="active"  class="footer-text-links">
        <p>About</p>
      </a>
    </div>
    <div id="copyright-row">
      <p id="copyright">Talent!&copy; 2018
    </div>
  </footer>
</div>
</body>
</html>
