<div class="container-fluid" id="skill-tab">

  <div class="row flex-row-reverse">

    <button class="btn btn-primary" id="add-skill-btn"> ADD <i class="fas fa-plus-circle"></i></button>
    <span id="bottom-line"></span>

  </div>

  <div class="row skill-row">

    <div class="col-12 skill-category">Programming Languages</div>

    <div class="col-12">
      <div class="row">

        <div class="col-12 col-md-3 skill-column">
            <span class="skill">C#</span> <span class="delete-skill"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="col-12 col-md-3 skill-column">
            <span class="skill">Java</span> <span class="delete-skill"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="col-12 col-md-3 skill-column">
            <span class="skill">C++</span> <span class="delete-skill"><i class="far fa-times-circle"></i></span>
        </div>
        <div class="col-12 col-md-3 skill-column">
            <span class="skill">Fortran</span> <span class="delete-skill"><i class="far fa-times-circle"></i></span>
        </div>

      </div>
    </div>

  </div>

</div>
