<div class="container-fluid p-0" id="minimum-height">

  <!-- Main wrapper row-->
  <div class="row p-0">

    <!-- Form and header column -->
    <div class="col-md-12">
		  
	  <!-- Inside Header -->
	  <div class="row">
            <p id="upper-text">Accept invite</p>
      </div>

	  <div class="organization-logo-div">
        <img *ngIf="organizationLogo != null" [src]="organizationLogo" id="organization-logo"  />
	  </div>
	  
      <!-- Form row -->
      <div class="row" id="accept-invite-input">

        <!-- Step One Form -->
        <form (ngSubmit)="onSubmit(acceptInviteForm)" #acceptInviteForm="ngForm">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <p class="static-information" id="static-first-name">{{firstName}}</p>
          </div>

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <p class="static-information" id="static-last-name">{{lastName}}</p>
          </div>

          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" placeholder="Nickname" id="nickname" ngModel name="nickname"/>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password" ngModel name="password"
                   (keyup)="validatePassword(acceptInviteForm)" required/>
            <div class="error-message" id="password-error">Password must have at least 8 characters with symbols, numbers, upper and lower
              case letters
            </div>
          </div>

          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-password" ngModel
                   name="confirm" (keyup)="validatePassword(acceptInviteForm)" required/>
            <div class="error-message" id="confirm-password-error">Passwords do not match</div>
          </div>

          <div class="form-group">
            <label class="tos">
              I agree to the <a class="special-link" routerLink="/terms-of-use" routerLinkActive="active">Terms of
              Service </a> and <a class="special-link" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
              <input type="checkbox" ngModel name="checkbox" required/>
              <span class="checkmark"></span>
            </label>
          </div>

		  <button class="btn btn-primary" id="accept-Invite-button" [disabled]="!acceptInviteForm.valid || passwordInvalid || formSubmitted">
            Sign up
          </button>
        </form>
      </div>

    </div>
  </div>

</div>
