<!-- For now, only the router outlet is present -->
	<!--<a routerLink="/about" routerLinkActive="active">About</a>
	<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
	<a routerLink="/login" routerLinkActive="active">Login</a>
	<a routerLink="/sign-up" routerLinkActive="active">SignUp</a>
<router-outlet></router-outlet>-->
<!DOCTYPE html>
<html>
<head>
  <title>Talent! Landing page</title>
</head>
<body>
<div class="container-fluid" id="container-fluid">
  <div class="row" id="general-row">
    <div class="d-xs-block d-sm-block d-md-block col-lg-5" id="container-row1">
      <img src="/assets/images/handshake.png" class="img-fluid" id="handshake" alt="Responsive image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="container-row2">
      <div class="row" id="signin-row">
          <button type="submit" class="btn btn-primary" id="signin-button">Sign in</button>
      </div>
      <div id="logo-row">
        <img src="/assets/images/talent-logo.png" class="img-fluid" id="talent-logo" alt="Responsive image">
      </div>
      <div id="list-row">
        <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div id="list-row2">
        <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div id="list-row3">
        <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div id="join-now">
        <button type="button" class="btn btn-primary" id="join-button">
          Join now
          <img src="/assets/images/arrow.png" class="img-fluid" id="arrow" alt="Responsive image">
        </button>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div id="horizontal-line"></div>
    <div id="footer-links" class="row">
      <div class="vertical-line"></div>
      <p class="footer-text-links">Contact us</p>
      <div class="vertical-line"></div>
      <p class="footer-text-links">Privacy policy</p>
      <div class="vertical-line"></div>
      <p class="footer-text-links">Terms of use</p>
      <div class="vertical-line"></div>
      <p class="footer-text-links">About</p>
    </div>
    <div id="copyright-row">
      <p id="copyright">Talent!&copy; 2018
    </div>
  </footer>
</div>
</body>
</html>
