body {
  font-family: "Source Sans Pro", serif;
}

#container-fluid, #general-row, #general-row2, .container-row{
  margin:0;
  padding:0;
}

#signin-row, #logo-row, #list-row, #list-row2, #list-row3{
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

#container-row1 {
  background: url(../../../../assets/images/handshake.png) no-repeat center;
  background-size: cover
}

@media only screen and (max-width: 1000px) {
  #container-row1 {
    display: none;
  }
}

#signin-row {
  margin-top: 2.92vh;
  height: 34px;
}

#signin-button {
  height: 34px;
  width: 87px;
  border: none;
  border-radius: 10px;
  background-color: #294261;
  padding: 0;
}

@media only screen and (max-width: 4000px) {
  #signin-link {
    margin-right: 5.71%;
    margin-left: 83.92%;
  }
}

@media only screen and (max-width: 700px) {
  #signin-link {
    margin-right: 5.71%;
    margin-left: 73.92%;
  }
}

@media only screen and (max-width: 500px) {
  #signin-link {
    margin-right: 5.71%;
    margin-left: 70%;
  }
}

#logo-row {
  margin-top: 5.85vh;
}

#talent-logo {
  height: 25vh;
}

@media only screen and (max-width: 4000px) {
  #talent-logo {
    margin-left: 36%;
  }
}

@media only screen and (max-width: 1000px) {
  #talent-logo {
    margin-left: 33%;
  }
}

@media only screen and (max-width: 500px) {
  #talent-logo {
    margin-left: 28%;
  }
}

@media only screen and (max-width: 414px) {
  #talent-logo {
    margin-left: 10%;
  }
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  #talent-logo {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 4000px) {
  #general-row2 {
    margin-top: 8.2vh;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  #general-row2 {
    display: none;
  }
}

@media only screen and (max-width: 4000px) {
  #manual-row {
    margin-top: 8.2vh;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #manual-row {
    display: block;
    width : 100%;
  }
}

@media only screen and (max-width: 600px) {
  .manual-row:before,
  .manual-row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  [class*='manual-col-'] {
    float: left;
    min-height: 1px;
  }
}

@media only screen and (max-width: 600px) {
  [class*='manual-col-'] {
    float: left;
    min-height: 1px;
    width: 11%;
  }
}

@media only screen and (max-width: 600px) {
  .manual-col-1 {
    width: 11%;
  }
}

@media only screen and (max-width: 600px) {
  .manual-col-2 {
    width: 72%;
  }
}

@media only screen and (max-width: 4000px) {
  .list-row {
    width: 100%;
    margin-bottom: 4.1vh;
  }
}

.talent-arrow {
  height: 5.95vh;
  vertical-align: middle;
}

@media only screen and (max-width: 4000px) {
  .talent-arrow {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .talent-arrow {
    margin-left: 12%;
  }
}

.text-content {
  vertical-align: middle;
  display: inline;
  color: #294261;
  line-height: 14px;
}

@media only screen and (max-width: 4000px) {
  .text-content {
    font-size: 24px;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 1400px) {
  .text-content {
    font-size: 18px;
    margin-right: 5.71%;
  }
}

@media only screen and (max-width: 1100px) {
  .text-content {
    font-size: 12px;
    margin-right: 5.71%;
  }
}

@media only screen and (max-width: 1000px) {
  .text-content {
    font-size: 18px;
    margin-right: 5.71%;
  }
}

@media only screen and (max-width: 600px) {
  .text-content {
    font-size: 12px;
  }
}

#list-row2, #list-row3 {
  margin-top: 4.1vh;
  width: auto;
  display: block;
}

#join-now {
  margin-top: 6.44vh;
  margin-bottom: 8vh;
}

@media only screen and (max-width: 4000px) {
  #join-now {
    margin-left: 14.64%;
  }
}

@media only screen and (max-width: 4000px) {
  #join-now {
    margin-left: 10%;
  }
}

#join-button {
  height: 74px;
  width: 92.05%;
  border: none;
  border-radius: 10px;
  background-color: #EFA42F;
  margin-right: 6.78%;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
}

#arrow {
  margin-left: 8px;
  height: 22px;
  width: 28px;
}
