<!DOCTYPE html>
<html>
<head>
  <title>Talent! Landing page</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid" id="container-fluid">
  <div class="row" id="general-row">
    <div class="d-xs-block d-sm-block d-md-block col-lg-5" id="container-row1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="container-row2">
      <div class="row" id="signin-row">
        <a routerLink="/login" routerLinkActive="active" id="signin-link">
          <button type="button" class="btn btn-primary" id="signin-button">
            Sign in
          </button>
        </a>
      </div>
      <div id="logo-row">
        <img src="/assets/images/talent-logo.png" class="img-fluid" id="talent-logo" alt="Responsive image">
      </div>
      <div id="list-row">
        <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div id="list-row2">
        <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div id="list-row3">
        <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
        <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div id="join-now">
        <a routerLink="/sign-up" routerLinkActive="active" id="join-link">
        <button type="button" class="btn btn-primary" id="join-button">
          Join now
          <img src="/assets/images/arrow.png" class="img-fluid" id="arrow" alt="Responsive image">
        </button>
        </a>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div id="horizontal-line"></div>
    <div id="footer-links" class="row">
      <div class="vertical-line"></div>
        <a routerLink="/contact-us" routerLinkActive="active" class="footer-text-links">
          <p>Contact us</p>
        </a>
      <div class="vertical-line"></div>
        <a routerLink="/privacy-policy" routerLinkActive="active" class="footer-text-links">
          <p>Privacy policy</p>
        </a>
      <div class="vertical-line"></div>
        <a routerLink="/terms-of-use" routerLinkActive="active" class="footer-text-links">
          <p>Terms of use</p>
        </a>
      <div class="vertical-line"></div>
        <a routerLink="/about" routerLinkActive="active"  class="footer-text-links">
          <p>About</p>
        </a>
    </div>
    <div id="copyright-row">
      <p id="copyright">Talent!&copy; 2018
    </div>
  </footer>
</div>
</body>
</html>
