<!DOCTYPE html>
<html>
<head>
  <title>Talent! Landing page</title>
</head>
<body>
<div class="container-fluid" id="container-fluid">
  <div class="row" id="general-row">
    <div class="d-xs-block d-sm-block d-md-block col-lg-5 container-row" id="container-row1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 container-row" id="container-row2">
      <div class="row" id="signin-row">
        <!--<a routerLink="/login" routerLinkActive="active" id="signin-link">-->
          <!--<button type="button" class="btn btn-primary" id="signin-button">-->
            <!--Sign in-->
          <!--</button>-->
        <!--</a>-->
      </div>
      <div id="logo-row">
        <img src="/assets/images/talent-logo.png" class="img-fluid" id="talent-logo" alt="Responsive image">
      </div>
      <div class="row" id="general-row2">
        <div class="row list-row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 container-row reduced1"></div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 container-row reduced1">
            <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 container-row container-row3 reduced2">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="row list-row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 container-row"></div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 container-row">
            <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 container-row container-row3">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="row list-row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 container-row"></div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 container-row">
            <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
          </div>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 container-row container-row3">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="row" id="manual-row">
        <div class="manual-row list-row">
          <div class="manual-col-1 container-row reduced1"></div>
          <div class="manual-col-1 container-row reduced1">
            <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
          </div>
          <div class="manual-col-2 container-row container-row3 reduced2">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit11111111111111111111111111111.</p>
          </div>
        </div>
        <div class="manual-row list-row">
          <div class="manual-col-1 container-row"></div>
          <div class="manual-col-1 container-row">
            <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
          </div>
          <div class="manual-col-2 container-row container-row3">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit11111111111111111111111111111.</p>
          </div>
        </div>
        <div class="manual-row list-row">
          <div class="manual-col-1 container-row"></div>
          <div class="manual-col-1 container-row">
            <img src="/assets/images/talent-arrow.png" class="img-fluid talent-arrow" alt="Responsive image">
          </div>
          <div class="manual-col-2 container-row container-row3">
            <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit11111111111111111111111111111.</p>
          </div>
        </div>
      </div>
      <div id="join-now">
        <a routerLink="/sign-up/step-one" routerLinkActive="active" id="join-link">
        <button type="button" class="btn btn-primary" id="join-button">
          Join now
          <img src="/assets/images/arrow.png" class="img-fluid" id="arrow" alt="Responsive image">
        </button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
