body {
  font-family: "Source Sans Pro", serif;
}

#container-fluid, #general-row, #container-row1, #container-row2{
  margin:0;
  padding:0;
  min-height: 90vh;
}

#nav-bar {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

#container-row1 {
  background: url(../../../../assets/images/handshake.png) no-repeat center;
  background-size: cover
}

@media only screen and (max-width: 1000px) {
  #container-row1 {
    display: none;
  }
}

#nav-bar {
  margin-left: 2.85%;
}

#talent-logo {
  margin-top: 0.39vh;
  height: 69px;
}

#forgot-password-h {
  color: #294261;
  font-size: 36px;
  letter-spacing: -0.51px;
  line-height: 43px;
  text-align: center;
  margin-top: 40vh;
}

#recover-password-form {
}

.data-div {
  margin-bottom: 1.95vh;
}

#instruction {
  color: #B9BBBE;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 23px;
  margin-bottom: 0.97vh;
}

.data-label {
  margin-bottom: 1.46vh;
  height: 25px;
  color: #495057;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 23px;
}

.data-input {
  height: 58px;
  border: 1px solid #BECAD6;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #495057;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 23px;
  padding-left: 3.09%;
  padding-top: 17px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 4000px) {
  .data-input {
    width: 463px;
  }
}
@media only screen and (max-width: 650px) {
  .data-input {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .data-input {
    width: 280px;
  }
}

.data-input::placeholder {
  color: #B9BBBE;
}

.field-required {
  margin-top: 0.39vh;
  color: #C4183C;
  font-size: 18px;
  letter-spacing: -0.32px;
  line-height: 21px;
}

.has-error {
  border: 1px solid #C4183C;
}

#reset-password-button {
  height: 74px;
  border: none;
  border-radius: 10px;
  background-color: #EFA42F;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  margin-top: 3.32vh;
  margin-bottom: 17vh;
}

@media only screen and (max-width: 4000px) {
  #reset-password-button {
    width: 463px;
  }
}

@media only screen and (max-width: 650px) {
  #reset-password-button {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  #reset-password-button {
    width: 280px;
  }
}

form {
	margin-left: auto;
	margin-right: auto;
}