<!DOCTYPE html>
<html>
<head>
  <title>Talent! Reset password</title>
</head>
<body>
<div class="container-fluid" id="container-fluid">
  <div class="row" id="general-row">
    <div class="col-md-5" id="container-row1">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7" id="container-row2">
      <div class="row" id="nav-bar">
        <a routerLink="/landing-page" routerLinkActive="active">
          <img src="/assets/images/talent-logo.png" class="img-fluid" id="talent-logo" alt="Responsive image">
        </a>
      </div>
      <p id="forgot-password-h">Recover password</p>
      <div class="row" id="recover-password-form">
        <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" ng-hide="form.$submitted" novalidate>
          <p id="instruction">Enter your new password</p>
          <div class="form-group data-div">
            <label for="password" class="data-label">Password</label>
            <input placeholder="Password" type="password" class="form-control data-input"
                   [ngClass]="{'has-error': f.submitted && !password.valid }" name="password"
                   [(ngModel)]="userData.password" #password="ngModel" required
                   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#\*-\.]).{8,}$"/>
            <div *ngIf="f.submitted && !password.valid" class="help-block field-required">Invalid password.</div>
          </div>
          <div class="form-group data-div">
            <label for="confirmPassword" class="data-label">Confirm Password</label>
            <input placeholder="Password" type="password" class="form-control data-input"
                   [ngClass]="{'has-error': f.submitted && !confirmPassword.valid }" name="confirmPassword"
                   [(ngModel)]="passConfirm.password" #confirmPassword="ngModel" appConfirmEqualValidator="password" required />
            <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block field-required">Field required.</div>
            <div *ngIf="confirmPassword.errors?.notEqual" class="help-block field-required">Password confirm is not equal to password.</div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" id="reset-password-button">Reset password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
