<div class="container-fluid">
  <div class="row container-row">
      <div class="center-content">
        <div class="message-title row">Thank You for Getting in Touch!</div>
        <div class="row smaller-message">
          <p class="message">
            You will receive an email shortly, in the meantime we invite you to explore our site.
          </p>
        </div>
        <div class="row button">
          <button class="btn btn-primary submit-button" (click)="onOK()">OK</button>
        </div>
      </div>
  </div>
</div>
