<div class="container-fluid">


  <div class="row" id="basic-info">
    <div id="top-content">
      <div id="image">
        <img [src]="userProfilePicture" alt="image" id="profilePicture">
      </div>
      <div id="information">
        <div class="user-name"><p class="name">{{userName}}</p></div>
        <div class="user-info"><p class="position-info">hola<br/>mundo</p></div>
      </div>
      <div class="edit-button" (click)="onEditButton()"><i class="fas fa-pencil-alt" id="edit-pencil" title="Edit"></i>
      </div>
      <div class="align-right">
        <div class="user-name"><p class="name">Technical Manager</p></div>
        <div class="user-info"><p class="position-info">Rodrigo Bartels</p></div>
      </div>
    </div>
  </div>

  <div class="row" id="project-tabs">
    <ngb-tabset justify="fill">
      <ngb-tab title="Projects">
        <ng-template ngbTabContent>
          <p>bdfyc denim y.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Kudos & warnings">
        <ng-template ngbTabContent>
          <p>dvmjfdknv denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
            retro
            synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
            cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Skills">
        <ng-template ngbTabContent>
          <p>vnfrbv denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
            cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Education records">
        <ng-template ngbTabTitle><span class="tab-title">Education records</span></ng-template>
        <ng-template ngbTabContent>
          <p> vjk fi denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
            synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
            cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>

