body {
  font-family: "Source Sans Pro", serif;
}

#container-row2, #container-fluid, #signup-form, #title-row {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

#title {
  color: #294261;
  font-family: "Source Sans Pro", serif;
  font-size: 28px;
  letter-spacing: 2.8px;
  line-height: 36px;
  margin-top: 4.19vh;
}

@media only screen and (max-width: 4000px) {
  #title {
    margin-left: 41.8%;
  }
}

@media only screen and (max-width: 1300px) {
  #title {
    margin-left: 38%;
  }
}

@media only screen and (max-width: 900px) {
  #title {
    margin-left: 35%;
  }
}

@media only screen and (max-width: 700px) {
  #title {
    margin-left: 32%;
  }
}

@media only screen and (max-width: 600px) {
  #title {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 500px) {
  #title {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 400px) {
  #title {
    margin-left: 24%;
  }
}

#text {
  margin-top: 3.8vh;
  margin-left: 12.98%;
  margin-right: 12.98%;
  color: #A2A2A2;
  font-family: "Source Sans Pro", serif;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}

@media only screen and (max-width: 450px) {
  #text {
    margin-top: 0;
  }

  #general-row {
    margin-left: -10px;
    margin-right: 0;
  }
}

#questions {
  margin-top: 4.68vh;
  margin-left: 12.98%;
  margin-bottom: 10.74vh;
  color: #A2A2A2;
  font-family: "Source Sans Pro", serif;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}
