<div class="container-fluid">
  <div class="row about-us-title">About us</div>
  <div class="row main-image-container">
    <img class="main-image" src="../../../../assets/images/about-us-main-2.jpg" alt="About Talent! image">
  </div>
  <div class="row">
    <div class="about-heading">About Talent!</div>
    <p class="about-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est turpis, feugiat et elementum at, pretium
      quis mi. Aenean vehicula, metus a finibus maximus, nisi lectus fringilla urna, vehicula pulvinar massa eros
      commodo orci. Proin sit amet dui pellentesque, blandit felis accumsan, rhoncus mi. Donec ut neque eget arcu
      efficitur accumsan non eu nisi. Maecenas sed feugiat diam. Donec odio mi, porttitor molestie lorem vel,
      ullamcorper placerat orci. Nunc lacinia volutpat felis non bibendum.
    </p>
  </div>
  <div class="row">
    <div class="about-heading">Purpose</div>
    <p class="about-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est turpis, feugiat et elementum at, pretium
      quis mi. Aenean vehicula, metus a finibus maximus, nisi lectus fringilla urna, vehicula pulvinar massa eros
      commodo orci. Proin sit amet dui pellentesque, blandit felis accumsan, rhoncus mi. Donec ut neque eget arcu
      efficitur accumsan non eu nisi. Maecenas sed feugiat diam. Donec odio mi, porttitor molestie lorem vel,
      ullamcorper placerat orci. Nunc lacinia volutpat felis non bibendum. Donec pellentesque, sem vitae semper lacinia,
      tellus nisi viverra magna, sed tempor magna velit bibendum ante. In eget sapien sed justo porta cursus. Fusce
      lacinia urna et placerat ullamcorper. Aenean nibh justo, cursus nec tellus at, lacinia placerat enim. Etiam urna
      sapien, faucibus quis risus blandit, laoreet vestibulum turpis. Pellentesque id dui tincidunt lorem hendrerit
      varius et non felis. Curabitur vitae nunc sollicitudin, faucibus felis non, mattis nunc. Duis fringilla eleifend
      arcu non finibus.
    </p>
  </div>
  <div class="row">
    <div class="about-heading">People</div>
    <p class="about-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est turpis, feugiat et elementum at, pretium
      quis mi. Aenean vehicula, metus a finibus maximus, nisi lectus fringilla urna, vehicula pulvinar massa eros
      commodo orci. Proin sit amet dui pellentesque, blandit felis accumsan, rhoncus mi. Donec ut neque eget arcu
      efficitur accumsan non eu nisi. Maecenas sed feugiat diam. Donec odio mi, porttitor molestie lorem vel,
      ullamcorper placerat orci. Nunc lacinia volutpat felis non bibendum.
    </p>
  </div>
  <div class="row people-image-row">
    <div class="col-lg-6 col-md-6 col-sm-12 image-col">
      <img class="people-image" src="../../../../assets/images/about-us-people-1.jpg" alt="About Talent! image">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 image-col">
      <img class="people-image" src="../../../../assets/images/about-us-people-2.jpg" alt="About Talent! image">
    </div>
  </div>
  <div class="row">
    <p class="about-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas est turpis, feugiat et elementum at, pretium
      quis mi. Aenean vehicula, metus a finibus maximus, nisi lectus fringilla urna, vehicula pulvinar massa eros
      commodo orci. Proin sit amet dui pellentesque, blandit felis accumsan, rhoncus mi. Donec ut neque eget arcu
      efficitur accumsan non eu nisi. Maecenas sed feugiat diam. Donec odio mi, porttitor molestie lorem vel,
      ullamcorper placerat orci. Nunc lacinia volutpat felis non bibendum.
    </p>
  </div>
</div>
