<div class="container-fluid m-0 p-0 minimum-height">

  <!-- Main wrapper row-->
  <div class="row m-0 p-0 minimum-height">

    <!-- Side image column -->
    <div class="d-md-block col-lg-5" id="side-image"></div>

    <!-- Form and header column -->
    <div class="col-md-12 col-lg-7">

      <!-- Inside Header -->
      <div class="row">
        <div class="main-bar">

          <div class="d-flex flex-row-reverse">
            <button class="btn btn-primary header-button" (click)="onSignIn()" id="sign-in-button">Sign in
            </button>
            <span id="upper-text">Already have an account?</span>
          </div>

        </div>
      </div>

      <!-- Form row -->
      <div class="row" id="step-one-input">

        <h2 class="col-12">Sign up</h2>

        <div class="col-12" id="already-used-error">{{alreadyUsedAccountMsg}}</div>

        <!-- Step One Form -->
        <form (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm" class="col-12">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" placeholder="First name" id="first-name" ngModel name="firstName"
                   required/>
            <div class="error-message">Field is required</div>
          </div>

          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" placeholder="Last name" id="last-name" ngModel name="lastName"
                   required/>
            <div class="error-message">Field is required</div>
          </div>

          <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" placeholder="Nickname" id="nickname" ngModel name="nickname"
                   required/>
            <div class="error-message">Field is required</div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Email" id="email" ngModel name="email" required
                   email/>
            <div class="error-message">Please enter a valid email</div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password" ngModel name="password"
                   (keyup)="validatePassword(signUpForm)" required/>
            <div class="error-message" id="password-error">Password must have at least 8 characters with symbols, numbers, upper and lower
              case letters
            </div>
          </div>

          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-password" ngModel
                   name="confirm" (keyup)="validatePassword(signUpForm)" required/>
            <div class="error-message" id="confirm-password-error">Passwords do not match</div>
          </div>

          <div class="form-group">
            <label class="tos">
              I agree to the <a class="special-link" routerLink="/terms-of-use" routerLinkActive="active">Terms of
              Service </a> and <a class="special-link" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
              <input type="checkbox" ngModel name="checkbox" required/>
              <span class="checkmark"></span>
            </label>
          </div>

          <button class="btn btn-primary" id="next-step-button" [disabled]="!signUpForm.valid || passwordInvalid || formSubmitted">
            {{signUpBtnMessage}}
          </button>
        </form>
      </div>

    </div>
  </div>

</div>
