<div class="container-fluid m-0 p-0 minimum-height">

  <!-- Main wrapper row-->
  <div class="row m-0 p-0">

    <!-- Side image column -->
    <div class="d-md-block col-lg-5" id="side-image"></div>

    <!-- Form and header column -->
    <div class="col-md-12 col-lg-7 minimum-height p-0">

      <!-- Form row -->
      <div class="row" id="step-two-input">

        <h2 class="col-12 p-0">Email Confirmation</h2>

        <div class="col-12 p-0" id="email-message">
          <p class="m-0">We've sent a confirmation code to</p>
          <strong>{{email}}</strong>. Please enter your code below.
        </div>

        <div class="col-12" id="confirmation-code">
          <div id="confirmation-message" class="text-center">Confirmation code</div>

          <div id="error-message" class="text-center">{{errorMessage}}</div>

          <!-- Step One Form -->
          <form (ngSubmit)="onSubmit(confirmationForm)" #confirmationForm="ngForm">

            <div class="container">
              <div class="row justify-content-center">

                <div class="col-12 col-sm-auto p-0">
                  <div class="d-table m-auto">

                    <div class="form-group confirmation-input">
                      <input type="text" class="form-control confirmation-number" name="firstNumber"
                             title="Confirmation number"
                             ngModel required (keyup)="validateField($event, 0)"/>
                    </div>

                    <div class="form-group confirmation-input center-input">
                      <input type="text" class="form-control confirmation-number" name="secondNumber"
                             title="Confirmation number" ngModel required (keyup)="validateField($event, 1)"/>
                    </div>

                    <div class="form-group confirmation-input">
                      <input type="text" class="form-control confirmation-number" name="thirdNumber"
                             title="Confirmation number"
                             ngModel required (keyup)="validateField($event, 2)"/>
                    </div>

                  </div>
                </div>

                <div id="line-container" class="col-12 col-sm-auto">
                  <div class="align-middle" id="number-separator"></div>
                </div>

                <div class="col-12 col-sm-auto p-0">
                  <div class="d-table m-auto">

                    <div class="form-group confirmation-input">
                      <input type="text" class="form-control confirmation-number" name="fourthNumber"
                             title="Confirmation number" ngModel required (keyup)="validateField($event, 3)"/>
                    </div>

                    <div class="form-group confirmation-input center-input">
                      <input type="text" class="form-control confirmation-number" name="fifthNumber"
                             title="Confirmation number"
                             ngModel required (keyup)="validateField($event, 4)"/>
                    </div>

                    <div class="form-group confirmation-input">
                      <input type="text" class="form-control confirmation-number" name="sixthNumber"
                             title="Confirmation number"
                             ngModel required (keyup)="validateField($event, 5)"/>
                    </div>

                  </div>
                </div>

              </div>
            </div>

            <button class="btn btn-primary" id="next-step-button" [disabled]="!completeForm || !validCode ||  formSubmitted">
              {{nextStepBtnMessage}}
            </button>
          </form>
        </div>

      </div>

    </div>
  </div>

</div>
