
/* Identifiers */
.container-fluid {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

.confirmation-number {
  width: 60px;
  height: 60px;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.6px;
  line-height: 31px;
  color: #A3A9B0;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.confirmation-number:focus,
.confirmation-number.ng-valid{
  border: 1px solid #17C671;
  box-shadow: 0 5px 11px 0 rgba(23,198,113,0.1);
}

.confirmation-number.invalid-code {
  border: 1px solid #C4183C;
  box-shadow: 0 5px 11px 0 rgba(196,24,60,0.1);
}

.confirmation-input {
  display: inline-block;
  display: -moz-inline-block;
}

.confirmation-input.center-input {
  margin-right: 4px;
  margin-left: 4px;
}

.minimum-height {
  min-height: 90vh;
}

/* Identifiers */
#line-container {
  height: 60px;
  display: inline;
  padding: 0 8px;
}

#side-image {
  background: url(../../../../assets/images/handshake.png) no-repeat center;
  background-size: cover
}

#step-two-input {
  margin: 25vh auto 12vh auto;
  font-size: 20px;
  width: 80%;
}

#step-two-input h2 {
  text-align: center;
  font-family: 'Roboto', serif;
  color: #294261;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 33px;
  margin-bottom: 4vh;
  width: 100%;
}

#email-message {
  font-size: 24px;
  color: #A2A2A2;
  line-height: 31px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto 70px auto;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#confirmation-code {
  margin: auto;
  display: inline-block;
}

#confirmation-code form {
  margin: 10px auto 40px auto;
}

#confirmation-message {
  color: #495057;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 25px;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#number-separator {
  box-sizing: border-box;
  width: 25px;
  border: 1px solid #BECAD6;
  margin: 30px auto;
}

#send-to-bottom, #send-to-top {
  display: inline;
}

#next-step-button {
  margin: 40px auto 0 auto;
  width: 100%;
  max-width: 600px;
  font-size: 24px;
  height: 69px;
  background-color: #EFA42F;
  border: none;
  border-radius: 10px;
  line-height: 28px;
  font-family: 'Roboto', serif;
  display: block;
}

#next-step-button:disabled {
  cursor: not-allowed;
}

#error-message {
  color: #C4183C;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
  font-size: 18px;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

