.container-fluid {
  min-height: 90vh;
  width: 88%;
  min-width: 295px;
  margin: auto;
  font-family: "Source Sans Pro", serif;
}

.container-fluid .row {
  margin: 0;
  padding: 0
}

.edit-pencil {
  color: lightslategray;
  margin-left: 22px;
  cursor: pointer;
}

.date-clock {
  color: lightslategray;
}

.vertical-line {
  height: 64px;
  width: 1px;
  border: 1px solid rgba(0,0,0,0.14);
  display: inline-block;
  margin: auto 26px auto 26px;
  vertical-align: bottom;
}

.nav-tabs {
  border-bottom: none;
}

:host /deep/ .nav-link {
  margin: 23px auto 23px auto;
  width: 110px;
  color: #979595;
}

:host /deep/ .nav-link:hover {
  border-style: none;
}

:host /deep/ .nav-link.active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #EFA42F;
  height: 65px;
  color: #EFA42F;
  margin-bottom: 0;
}

.content-card {
  min-height: 92px;
  width: 90%;
  border: 0.5px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04);
  margin: 20px auto 20px auto;
}

.content-card-positions {
  min-height: 92px;
  width: 90%;
  border: 0.5px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04);
  margin: 20px auto 20px auto;
}

.resource-profile-picture {
  display: inline-block;
  margin: 11px 20px 0 20px;
}

.profile-picture {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.resource-capability {
  color: #5A6169;
  font-size: 12px;
  line-height: 15px;
}

.right-content {
  float: right;
  display: inline-block;
}

.cards-right-content {
  float: right;
  display: inline-block;
  margin-top: 11px;
}

.cards-right-content-positions {
  float: right;
  display: inline-block;
  margin-top: 11px;
}

.block-info {
  display: inline-block;
}

.status-icon {
  height: 18px;
  width: 18px;
  background: linear-gradient(163.34deg, #DDF6BC 0%, #B8E986 100%);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.07);
  border-radius: 50%;
  margin: auto;
}

.red-status-icon {
  background: linear-gradient(163.34deg, lightpink 0%, red 100%);
}

.yellow-status-icon {
  background: linear-gradient(163.34deg, lightyellow 0%, darkorange 100%);
}

.edit-resources {
  width: 100%;
}

.edit-resources-pencil {
  float: right;
  color: lightslategray;
  padding: 10px;
  cursor: pointer;
}

.position-name {
  color: #294261;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.resource-picture {
  display: inline-block;
  margin: 0px 6px 0 6px;
}

.resource-picture-positions {
  display: inline-block;
  margin: 0px 6px 0 6px;
}

.position {
  display: inline-block;
  margin: 35px auto 35px 35px;
}

#top-content {
  margin-top: 88px;
  width: 100%;
}

#project-title {
  display: inline-block;
}

#project-lead {
  display: inline-block;
}

#project-status {
  display: inline-block;
}

#project-tabs {
  margin-top: 79px;
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.25);
  height: 60vh;
  overflow: auto;
  margin-bottom: 15px;
}

#title {
  color: #294261;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  display: inline-block;
}

#edit-name {
  display: inline-block;
}

#project-date {
  margin-top: 13px;
}

#date {
  display: inline-block;
}

#start-date {
  margin-left: 8px;
  color: #5A6169;
  font-size: 14px;
  display: inline-block;
}

#end-date {
  display: inline-block;
  font-size: 14px;
  color: #5A6169;
}

#lead-label {
  color: #294261;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

#lead {
  color: #5A6169;
  font-size: 14px;
  line-height: 18px;
  margin-top: 25px;
}

#resource-basic-info {
  display: inline-block;
  vertical-align: middle;
  min-width: 102.8px;
}

#resource-name {
  color: #294261;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
}

#resource-date {
  display: inline-block;
}

#resource-start-date {
  margin-left: 8px;
  color: #979595;
  font-size: 12px;
  display: inline-block;
}

#resource-end-date {
  display: inline-block;
  font-size: 12px;
  color: #979595;
}

#resource-project-date {
  display: inline-block;
  margin-bottom: 17px;
  min-width: 148.97px;
}

#date-hyphen {
  color: #979595;
}

#resource-project-position-label {
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

#resource-project-position {
  color: #979595;
  font-size: 12px;
  line-height: 15px;
  min-width: 154.83px;
  text-align: center;
}

#resource-workload {
  color: #979595;
  font-size: 12px;
  line-height: 15px;
}

#status {
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin-top: 25px;
}

#resource-status {
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin: auto;
  margin-top: 3px;
  min-width: 49.91px;
}

#add-position {
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
}

#addButton {
  color: #294261;
  cursor: pointer;
  height: 17px;
  width: 17px;
}

#block-info-status {
  margin-right: 25px;
}

ngb-tabset {
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .cards-right-content {
    float: left;
    margin-left: 2px;
  }
}

@media only screen and (max-width: 978px) {
  .vertical-line {
    margin: auto 13px 10px 13px;
  }
}

@media only screen and (max-width: 846px) {
  .content-card .vertical-line {
    display: none;
  }

  #resource-project-date, .block-info, .cards-right-content {
    display: block;
  }

  .cards-right-content {
    margin-left: 20px;
    float: none;
  }

  .block-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #resource-project-position-label {
    margin-left: 0px;
    text-align: left;
  }

  #resource-project-position {
    text-align: left;
  }

  #resource-status {
    text-align: left;
  }

  .status-icon {
    margin-left: 13px;
  }

}

@media only screen and (max-width: 545px) {

  .right-content {
    float: none;
    display: block;
    margin-top: 20px;
  }

}

@media only screen and (max-width: 530px) {

  .cards-right-content-positions {
    display: block;
    float: none;
    margin-bottom: 10px;
  }

}

#project-tabs::-webkit-scrollbar {
  display: none;
}

.kudo-btn {
  color: #FFFFFF;
  background: #B8E986;
  height: 35px;
  vertical-align: center;
  border: 0px;
  border-radius: 10px;
  font-size: 13px;
  margin-top: 5px;
  width: 100px;
  font-family: "Lato";
}

.warning-btn {
  color: #FFFFFF;
  background: #DD5555;
  height: 35px;
  vertical-align: center;
  border: 0px;
  border-radius: 10px;
  font-size: 13px;
  margin-top: 5px;
  width: 100px;
  font-family: "Lato";
}

.confirm-button {
  color: #FFFFFF;
  background-color: #EFA42F;
  height: 35px;
  vertical-align: center;
  border: 1px;
  border-radius: 10px;
  font-size: 13px;
  margin-top: 5px;
  width: 100px;
  font-family: "Lato";
}

.cancel-button {
  color: #979595;
  background: #FFFFFF;
  height: 35px;
  vertical-align: center;
  border: 1px solid #979595;
  border-radius: 10px;
  font-size: 13px;
  margin-top: 5px;
  width: 100px;
  font-family: "Lato";
}

textarea {
  height: 100px;
}

.modal-title {
  color: #47525E;;
}
