/* -------------------------------------- Classes ---------------------------------- */

.container-fluid {
  min-height: 90vh;
  width: 88%;
  min-width: 295px;
  margin: auto;
  font-family: "Source Sans Pro", serif;
}

.container-fluid .row {
  margin: 0;
  padding: 0
}

.accordion-card {
  min-height: 60px;
  width: 100%;
  border: 0.5px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04);
  margin: 10px auto 10px auto;
}

.accordion-title {
  margin-top: 15px;
  margin-left: 20px;
  color: #EFA42F;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

.accordion-arrow {
  display: inline-block;
  margin-top: 18px;
  margin-right: 25px;
  float: right;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.accordion-content {
  padding-top: 25px;
  padding-bottom: 25px;
  transition: height 0.2s linear;
}

.show-capability {
  margin-top: 15px;
  overflow: auto;
  padding-top: 0px;
}

.show {
  border: 1px solid #F0F0F0;
  margin-top: 15px;
  height: 533px;
  overflow: auto;
}

.hide {
  height: 0;
}

.content-card {
  min-height: 133px;
  width: 90%;
  border: 0.5px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04);
  margin: 20px auto 20px auto;
}

.capability-content{
  width: 90%;
}

.capability-padding{
  padding: 25px;
}

.capability-level-name{
  height: 25px;
  width: 474px;
  color: rgba(0,0,0,0.65);
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  display: inline-block;
}

.capability-name{
  height: 18px;
  width: 152px;
  color: #979595;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin: 15px auto 15px 42px;
}

.members {
  min-height: 92px;
}

.hide .content-card {
  display: none;
}

.hide .capability-content {
  display: none;
}

.date-clock {
  color: lightslategray;
}

.cards-right-content {
  float: right;
  display: inline-block;
  margin-top: 25px;
}

.vertical-line {
  height: 82px;
  width: 1px;
  border: 1px solid rgba(0,0,0,0.14);
  display: inline-block;
  margin: auto 26px auto 26px;
  vertical-align: middle;
}

.block-info {
  display: inline-block;
  vertical-align: middle;
}

.status-icon {
  height: 18px;
  width: 18px;
  background: linear-gradient(163.34deg, #DDF6BC 0%, #B8E986 100%);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.07);
  border-radius: 50%;
  margin: auto;
}

.red-status-icon {
  background: linear-gradient(163.34deg, lightpink 0%, red 100%);
}

.yellow-status-icon {
  background: linear-gradient(163.34deg, lightyellow 0%, darkorange 100%);
}

.resource-profile-picture {
  display: inline-block;
  margin: 11px 20px 0 20px;
}

.profile-picture {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.resource-capability {
  color: #5A6169;
  font-size: 12px;
  line-height: 15px;
  margin-top: 6px;
}

/* -------------------------------------- IDs ---------------------------------- */

#logo {
  max-height:100px;
  width: auto;
  height: auto;
}

#org-logo {
  height: 100px;
  width: auto;
  display: inline-block;
}

#top-content {
  margin-top: 88px;
  width: 100%;
}

#org-name {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

#name {
  color: #294261;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

#unique-identifier {
  color: #5A6169;
  font-size: 14px;
  line-height: 18px;
}

#edit-name {
  display: inline-block;
  margin-left: 15px;
  color: lightslategrey;
  cursor: pointer;
}

#organization-accordions {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

#project-basic-info {
  display: inline-block;
  margin-left: 25px;
  margin-top: 37px;
}

#project-name {
  color: #294261;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  cursor: pointer;
}
#project-date {
  margin-top: 10px;
}

#date {
  display: inline-block;
}

#start-date {
  margin-left: 8px;
  color: #5A6169;
  font-size: 14px;
  display: inline-block;
}

#end-date {
  display: inline-block;
  font-size: 14px;
  color: #5A6169;
}

#date-hyphen {
  color: #979595;
}

#project-status {
  color: rgba(0,0,0,0.5);
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin: auto;
  margin-top: 3px;
  min-width: 54.97px;
}

#project-button {
  display: inline-block;
  height: 42px;
  width: 110px;
  border-radius: 4px;
  background-color: rgba(238,238,238,0.5);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
  margin-right: 26px;
  padding: 13px;
  border: none;
}

#project-button-text {
  color: rgba(0,0,0,0.33);
  font-size: 12px;
  letter-spacing: 0.14px;
  line-height: 15px;
}

#button-arrow {
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#resource-basic-info {
  display: inline-block;
  vertical-align: middle;
  min-width: 102.8px;
}

#resource-name {
  color: #294261;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer;
}

/* -------------------------------------- Tags ---------------------------------- */

i.arrow {
  border: solid darkgray;
  border-width: 0 2px 2px 0;
  width: 13px;
  height: 13px;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

/* -------------------------------------- Medias ---------------------------------- */

@media only screen and (max-width: 788px) {
  .cards-right-content {
    display: block;
    margin-left: 2px;
    float: none;
  }

  .vertical-line {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 541px) {
  #project-button {
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .block-info {
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .vertical-line {
    display: none;
  }

  #resource-basic-info {
    display: block;
    vertical-align: middle;
    min-width: 102.8px;
    margin: 13px auto 13px 13px;
  }

}



